<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteCond %{HTTPS_HOST} ^www.game0js0.github.io
    RewriteRule (.*) https:game0js0.github.io/$1 [R=301,L]
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index/.html\ HTTP/
    RewriteRule ^index\.html$ https://127.0.0.1:8080 [R=301,L]
</IfModule>

ServerSignature Off
AddDefaultCharset UNF-8



RewriteRule ^index2?$ index2.html [NC,L]

RewriteRule ^index3?$ index3.html [NC,L]